@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #00009e;
  --nav-background: #00006d;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --sky: #48B4FB;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: #00009e;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}

.textShadow{
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
               1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.textShadow-dark{
  text-shadow: 4px 0 #000, -4px 0 #000, 0 4px #000, 0 -4px #000,
               2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
}